html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

div {
  border: 1px solid black;
}

.newspaper {
  border: 1px solid black;
  margin: 100px 180px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 600;
  color: #777777;
  border: 1px solid black;
  margin: 0;
  padding: 20px 0;
}

ul {
  list-style-type: none;
}

.row-1 {
  display: flex;
  padding: 15px 5px;
}

.rw1-item1 {
  flex: 1;
}

.rw1-item2 {
  flex: 1;
}

.rw1-item3 {
  flex: 1;
}

.row-2 {
  display: flex;
  border: 1px solid black;
  padding: 15px 5px;
}

.rw2-item1 {
  flex: 1;
}

.rw2-item2 {
  flex: 1;
}
