html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

.header {
  text-align: center;
  font-size: 28px;
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  /* border: 1px solid black; */
}

.newspaper {
  margin: 100px 180px;
}

.title {
  text-align: center;
  font-family: "Snell Roundhand";
  font-size: 60px;
  font-weight: normal;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 600;
  color: #777777;
  border: 3px solid black;
  border-bottom: none;
  margin: 0;
  padding: 20px 0;
  font-family: "Futura";
}

ul {
  list-style-type: none;
}

.row-1 {
  display: flex;
  border: 3px solid black;
  border-bottom: none;
}

.rw1-item1 {
  flex: 1;
  padding: 10px 5px;
  border-right: 3px solid black;
}

.rw1-item2 {
  flex: 1;
  padding: 10px 5px;
  border-right: 3px solid black;
}

.rw1-item3 {
  flex: 1;
  padding: 10px 5px;
}

.row-2 {
  display: flex;
  border: 3px solid black;
}

.rw2-item1 {
  flex: 1;
  padding: 10px 2px;
  border-right: 3px solid black;
}

.rw2-item2 {
  flex: 2;
  padding: 10px 5px;
}
